#top_container {
    background-image: url(https://bit.ly/3egj7FR);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: auto;
    max-width: 100%;
}

#bottom_container {
    background-image: url(https://bit.ly/3cPk7jM);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
}

.green_border {
    /* border: 5px solid rgb(144, 253, 144); */
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    margin: 5px 0px;
    background-color: #F7ECDE;
    width: fit-content;
    height: fit-content;
    text-align: center;
    opacity: 0.7;
}

.justify_row {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.parallax-container {
    height: 200px;
    width: 100%;
}

.red_border {
    /* border: 5px solid rgba(228, 55, 55, 0.979); */
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    /* height: 400px; */
    height: 500px;
    margin: 5px 2px;
    background-color: #F7ECDE;
    opacity: 0.9;
}

@media only screen and (min-width: 1280px) {
    .red_border {
        max-width: 550px;
    }
}

.form_fit {
    font-size: x-small;
    width: -webkit-fill-available;
}

.form_input_margin {
    margin: 0 0 5px 0;
    font-variant-caps: petite-caps;
    font-size: x-small;
}

.form_input_height {
    line-height: 1.5rem;
    font-size: x-small;
}

.blue_border {
    /* border: 5px solid blue; */
    border-radius: 0.375rem;
    display: flex;
    /* min-height: 400px;
    height: fit-content; */
    height: 500px;
    flex-direction: column;
    margin: 5px 2px;
    background-color: #F7ECDE;
    opacity: 0.9;
}

@media only screen and (min-width: 1280px) {
    .blue_border {
        max-width: 550px;
    }
}

.purple_border {
    /* border: 5px solid rgb(201, 101, 201); */
    border-radius: 0.375rem;
    display: flex;
    height: 12%;
    width: 100%;
    margin: 2px 0px;
    font-size: x-small;
    justify-content: center;
    align-items: center;
    background-color: #E9DAC1;
}

.yellow_border {
    /* border: 5px solid rgb(247, 247, 4); */
    /* min-height: 338px;
    height: auto; */
    border-radius: 0.375rem;
    height: 485px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: #E9DAC1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 5px 5px 0px 5px;
    max-width: 175px;
}

#card_img {
    height: 100px;
    max-height: 100px;
}

.card-body {
    background-color: lightcyan;
}

.card-content {
    background-color: lightcyan;
    overflow-y: scroll;
    height: 75px;
}

.card-title {
    font-weight: 500;
    font-family: fantasy;
    font-size: xx-large;
}

.card-action {
    display: flex;
    justify-content: space-evenly;
    max-height: 40px;
    align-items: center;
    padding: 0;
    width: 173px;
    height: 100px;
}

.button_size {
    font-size: 10px;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    width: fit-content;
}

#add_to_list_btn {
    width: 50%;
    justify-self: center;
}

.input_align_color {
    background-color: #9ED2C6;
    text-align: center;
    
}

.yellow_border::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
display: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.card-content::-webkit-scrollbar {
    display: none;
}

textarea {
    height: auto;
}